:root {
  --light-grey: #f5f6f7;
  --dark-blue: #050c2b;
  --fcc-blue: #2e4d80;
  --light-purple: #b977c9;
  --dark-purple: #6f428f;
  --light-pink: #ff9eda;
  --dark-pink: #d04c93;
  --light-blue: #7dc5eb;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--dark-blue);
  color: var(--light-grey);
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 680px;
}

h1,
.container,
.output {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-purple);
  border: 2px solid var(--dark-purple);
  color: var(--dark-blue); /* Changed text color */
}

button,
input,
select {
  min-height: 24px;
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid var(--light-grey);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-blue);
}
